:local(.card_margin) {
    margin-bottom: 16px;
}

:local(.optionBtn) {
    text-align: right;
}

:local(.right) {
    float: right;
}

:local(.btnMargin) {
    margin-left: 8px;
}

:local .avatar {
    max-width: 102px;
    max-height: 102px;
}